h1 {
    color: blue;
}

li {
    list-style-type: none;
}

li:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

article:first-of-type {
    margin-top: 10px;
}

article:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

article {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

form input {
    margin-bottom: 0;
}
